<header id="header">
	<div class="container">
		<div id="logo">
			LightbulbProductions
		</div>
			<nav id="nav"></nav>
	</div>

</header>

<div id="slide1">
<div class="content">
	<h2>Builders of Dreams</h2>
</div>
</div>

<div id="slide2">
<div class="content">
	<div class="blurb-container">
	<h3 class="blurb">Creators of Worlds</h3>
	
	<h4 class="name-dark">Michelle Gerber</h4>
</div>
</div>
</div>

<div id="slide3">
<div class="content">
	<div class="blurb-container">
	<h3 class="blurb">Aquisition of knowledge</h3>
	
	<h4 class="name">The Collective</h4>
</div>
</div>
</div>

<div id="slide4">
<div class="content">
	<div class="blurb-container">
	<h3 class="blurb">Architecture of Creation</h3>
	
	<h4 class="name-dark"></h4>
</div>
</div>
</div>

<div id="slide5">
<div class="content">
	
</div>
</div>